<div class="container">
  <!-- Heading -->
  <div class="col-md-12">
    <div class="row text-center">
      <h1>
        Assignment
      </h1>
    </div>
    <p>
      Create an application to display a list of users. This application should have below functionalites.
    </p>
  </div>
  <!-- End Heading -->

  <div class="col-md-12">
    <div class="row">
      <div class="heading">
        <p>
          Each entry should contain the following:
        </p>
      </div>
      <!-- model list -->
      <div>
        <ul>
          <li>User Id (id)</li>
          <li>
            Name (firstName + lastName)
          </li>
          <li>
            Age (age)
          </li>
          <li>
            Gender (gender)
          </li>
          <li>
            Email (email)
          </li>
          <li>
            Phone Number (phone)
          </li>
          <li>
            Profile Picture (Image)
          </li>
          <li>
            Company Name (company->name)
          </li>
          <li>
            Address (company->address)
          </li>
          <li>
            Delete button to delete a record.
          </li>
          <li>
            Edit button to edit a user.
          </li>
        </ul>
      </div>
      <!-- End Model List -->

      <!-- tasks -->
      <div>
        <ol>
          <li>There should be 10 entries Per page (limit).</li>
          <li>There should be a pagination functionality with ‘Next’ and ‘Previous’ links to navigate between
            pages. Allow user to toggle between 5, 10 or 25 entries. (On pagination and toggling functionality
            data should be retrieved from back end)</li>
            <li>Filter functionality should also be there to filter users based the given text by the user in search box.</li>
            <li> On clicking delete button, a confirmation dialog should open. After user confirmation record should
              be deleted.</li>
            <li>On clicking edit button, a dialog will be opened to show user details in edit mode. User details can be
              edited from this dialog.</li>
        </ol>
      </div>
      <!-- End tasks -->


      <div>
        <div class="heading">
          <p>
            Each entry should contain the following:
          </p>
        </div>
        <p>Use Angular Framework</p>
      </div>

      <div>
        <div class="heading">
              Each entry should contain the following:
        </div>
        <div>
          <p>
            Below are the API details in order to complete Assignment:
          </p>
          <table class="table table-striped table">
            <tr>
              <td>1</td>
              <td>https://dummyjson.com/docs/users</td>
              <td>(All API details are given on this URL)</td>
            </tr>
            <tr>
              <td>2</td>
              <td>https://dummyjson.com/users</td>
              <td>(GET, Get All Users)</td>
            </tr>
            <tr>
              <td>3</td>
              <td>https://dummyjson.com/users/1</td>
              <td>(GET, Get A Single User)</td>
            </tr>
            <tr>
              <td>4</td>
              <td>https://dummyjson.com/users/filter?</td>
              <td>(GET, Filter Users)</td>
            </tr>
            <tr>
              <td>5</td>
              <td>https://dummyjson.com/users?limit=5&skip=10</td>
              <td>(GET, Limit And Skip Users)</td>
            </tr>
            <tr>
              <td>6</td>
              <td>https://dummyjson.com/users/1</td>
              <td>(PUT, Update A User)</td>
            </tr>
            <tr>
              <td>7</td>
              <td>https://dummyjson.com/users/1</td>
              <td>(DELETE, Delete A User)</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
